
.myh1{
    background-color:#4285f4;
    color:white;
    text-align: center;
}

body{
    margin:0px;
    
}
.red{
    color:red;
}

.input_form{
    border: 1px solid rgba(128, 128, 128, 0.64);
    box-shadow:10px 10px 5px #888888;
}
select{
    width: 90%;
}
.size{
    font-size:10px;
}
textarea{
    resize: none;
    width: 100%;
}
input:hover,textarea:hover{
    background-color: rgba(66, 134, 244, 0.23);
}
.size:hover{
    font-size:20px;
}
.mybutton{
    background-color:#4285f4;
    color:white;
    font-size:25px;
    margin-bottom: 20px;
    align-content: center;
    position: relative;
    left:20%;
}

.mybutton:hover{
    background-color:#4285f4;
}

.ver{
    font-size:18px;
}
#map{
    height: 100%;
}
.showbut{
    display: none;
    background-color:#4285f4;
    color:white;
}

.showbut2{
    display:none;
    background-color:#4285f4;
    color:white;
}
.showbut2:hover{
    background-color:#4285f4;
}
#NameMessage{
    color:red;
}
.infoStyle{
    padding-bottom: 10px;
    font-size:25px;
    color:#4285f4;
}

.circular--portrait {
  position: relative;
  width: 100px;
  height:100px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 20px;
}

.circular--portrait img {
  width: 100%;
  height: auto;
}

.dropbtn {
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropbtn:hover .dropdown-content{
    display: block;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropMenu{
    text-align: center;
    cursor: pointer;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size:20px;
}

.dropMenu:hover{
    background-color: #E2E2E2
}
.borderTable{
    border-bottom: 2px solid #4285f4;
}
.circular--portrait2 {
    position: relative;
    width: 100px;
    height:100px;
    overflow: hidden;
    border-radius: 50%;
    
  }
  
.circular--portrait2 img {
    width: 100%;
    height: auto;
  }
  .picture{
      width: 120px;
  }

  .infoStyle2{

    font-size:22px;
    color:#4285f4;
}